<?xml version="1.0" ?>
<root>
	<head>
		<title>subscriptions for rss2email</title>
	</head>
	<body>
		<tag text="ITnews">
			<item htmlUrl="http://www.guao.hk/" rssUrl="http://www.guao.hk/feed" text="谷奥——探寻谷歌的奥秘" type="rss"/>
		</tag>
	</body>
</root>
